<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
</head>
<body>
    <div class="turnToBuy">
        <h1>Turn to buy</h1>
        
        <table>                
            {% for row in turn_to_buy %}
                <tr>
                    {% for item in row %}
                        <td>{{item}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>    
    </div class="debt">
        
    </div>
</body>
</html>