<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap Style Sheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />

    <!-- Axios Script -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- JQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Local Style Sheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Stran Dashboard</title>
  </head>
  <body>
    <!-- --------------------------Nav----------------------- -->
    <nav class="navbar navbar-light bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h1 class="display-4 d-inline-block">Dashboard</h1>
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="row mt-4 justify-content-center">
        <!-- --------------------------Rota----------------------- -->
        <div
          class="
            col-12 col-sm-6 col-lg-3
            order-2 order-lg-1
            mb-3
            d-flex
            justify-content-center
            d-lg-block
          "
        >
          <div class="card" style="width: 18rem">
            <div class="card-header"><h3>Rotas</h3></div>

            <div id="Tasks">
              <ul class="list-group list-group-flush">
                {% for task in tasks%}
                <!-- Single task item -->
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-8">
                      <h4>{{task.task_name}}</h4>
                      <span>{{task.current_user.name}}</span>
                    </div>
                    <div class="col-4 align-self-center">
                      <span>
                        <input
                          class="form-check-input updateRotaCheckboxes"
                          type="checkbox"
                          id="{{task.id}}_{{task.current_user._id}}"
                          value=""
                          aria-label="..."
                      /></span>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>

            <!-- End of single task item -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row align-items-center text-center">
                  <div class="col">
                    <form action="#">
                      <button
                        id="taskModalBtn"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#taskModal"
                      >
                        Add Task
                      </button>
                      <button id="updateRotaBtn" class="btn btn-primary">
                        Update
                      </button>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- --------------------------Posts----------------------- -->
        <div class="col-12 col-lg-6 order-1 order-lg-2 mb-3 mb-lg-auto">
          <div class="card bg-light">
            <div class="card-header">
              <div class="row">
                <div class="col align-self-start">
                  <h2>Posts</h2>
                </div>
                <div class="col align-self-end text-end">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Individual Post -->

              <div class="card mb-2">
                <h5 class="card-header">
                  <div class="row">
                    <div class="col align-self-start">Post Title</div>
                    <div class="col align-self-end text-end">Post Date</div>
                  </div>
                </h5>
                <div class="card-body">
                  <p class="lead">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quibusdam, recusandae earum! Sint quia voluptatibus
                    accusamus veritatis esse quod, ea quae earum error dolores
                    voluptates fuga placeat neque nobis nesciunt ipsa.
                  </p>
                </div>
              </div>

              <!-- End of Individual Post -->
            </div>
          </div>
        </div>

        <!-- --------------------------Debt----------------------- -->
        <div
          class="
            col-12 col-sm-6 col-6 col-lg-3
            order-3 order-lg-3
            mb-3
            d-flex
            justify-content-center
            d-lg-block
          "
        >
          <div class="card" style="width: 18rem">
            <div class="card-header"><h3>Debts</h3></div>
            <ul class="list-group list-group-flush">
              <!-- Single debt item -->
              <li class="list-group-item">
                <div class="row">
                  <div class="col-8">
                    <h4>Item One</h4>
                    <span>Sample Name</span>
                  </div>
                  <div class="col-4 align-self-center"></div>
                </div>
              </li>
              <!-- End of single debt item -->
              <li class="list-group-item">
                <div class="row align-items-center text-center">
                  <div class="col">
                    <form action="#">
                      <button id="addMoneyButton" class="btn btn-primary">
                        Add
                      </button>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Task Modal -->
    <div
      class="modal fade"
      id="taskModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add task</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="" method="POST" id="task_form">
              <div class="form-group row mb-3">
                <label for="taskName" class="col-sm-3 col-form-label"
                  >Task Name</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="taskNameInput"
                    placeholder="Task Name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label"
                  >Starting User</label
                >
                <div class="col-sm-9">
                  <select class="form-control" id="startingUserInput">
                    <option value="1">Default select</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              form="task_form"
              class="btn btn-primary"
              id="taskFormBtn"
            >
              Add Task
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Local Javascript -->
    <script src="{{ url_for('static', filename='javascript/rota.js') }}"></script>
    <!-- Bootstrap Javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
